  body{
            color: rgba(108, 90, 158, 0.733);
            background-color: rgba(205, 164, 233, 0.733);
            margin: 0px;
        }   
       .picture{
            width: 350px;
            height: 300px;
            box-shadow: 5px 5px 7px rgb(203, 145, 218);
            border-radius: 10px;
        }
        header{
            text-align: center;
        }
        header h1{
            letter-spacing: 7px;
        }
        main h2{
            text-align:center;
        }
        main table{
            text-align:center;
        }

        table{
            border: 1px solid rgb(64, 34, 82);
            border-radius: 10px;
            width: 100%;
        }

        td{  
            border: 1px solid rgb(85, 34, 90);
            border-radius: 10px;
        }

        .stylish{
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        table mark{
            background-color: rgb(188, 131, 214);
        }